  <header>
    <hgroup class="header">
      <h1 class="title">SummerofLabs Euskadi v1.0 bistaratzea</h1>
    </hgroup>
  </header>
  <div class="cargando" id="cargando"><img src="/images/ajax-loader.gif"></div>
  <div class="contenido" id="paper"></div>
  <div class="sidebar">
  <h3>Topaketako parte hartzaileen interes eremuak</h3>
  <p>Bistaratze lan hau Tabakalerak antolatutako Summeroflabs ekimenaren barruan egindako proiektu egoiliar baten zatia da. Parte hartzaileek nodoen inguruan daukaten interesa agertzen ditugu bertan, eremu tematikoak ezberdinduz. Lehen fase honetan uztailaren hasieran proposatutako nodoak soilik dira ikusgarriak. Bigarren fasean, 24X4Lab abian dela egingo dugun<a href="http://www.summeroflabs.eu/eu/node/102">“Fluidinfo eta node.js erabiliz bistaratzeak egiten”</a> nodoaren barruan garatuko dugu. Konplexutasun maila handiago izango du eta nodoak, pertsonak eta euren interesak irudikatuko ditugu datuak ikusgarri egiteko antolaketa modu ezberdinekin saiakerak eginaz. Datuak bistaratzeko moduen eta tresnen inguruan interesa baduzu <a href="http://www.summeroflabs.eu/eu/node/14">eman izena.</a></p>
  <h3>Nola erabili</h3>
  <p>Borobilen gainean klikatuta, zoom egingo duzu. Xagua urrutien daukazun borobilera hurbilduz gero, interesa duten pertsonen zerrenda agertuko da popup moduan. Alt +Click  sakatuz zooma mantsotu egingo da.</p>
  <h3>Howto</h3>
  <p>Bistaratze hau drupalen edukiak kudeatzeko gestorea oinarri hartuta egin dugu. Gestore hori bera da <a href="http://summeroflabs.eu">Summeroflabs.eu</a> opaketan izenemateak egitea ahalbidetu duena. Proiektua garatzeko beharrezko genuen informazioa biltzeko <a href="http://fluidinfo.com">Fluidinfo</a> izan da biltegia, Wikipedia arima duen datubase indartsua. Bi tresnen arteko harremana  <a href="https://github.com/karlosgliberal/fluidinfo_drupal">fluidinfo_drupal</a> modulu bat garatuta eraiki dugu (super beta fasean dago). Bistaratzea egiteko <a href="http://d3js.org/">d3.js</a> liburutegiak erabili ditugu. Laster emango dizuegu proiektuaren inguruko berri gehiago summeroflabs.eu webgunearen “<a href="http://summeroflabs.eu/es/residencias">residencias</a>” atalean.</p>
  </div>
  <section id="info">
    <aside id="autor">
      creado por <a href="http://interzonas.info">::InterZonas::</a>
    </aside>
  <div class="footer">
<p>Impulsa y organiza&nbsp;<img src="http://summeroflabs.eu/sites/default/files/users/user1/tabakalera.png" width="88" height="65" style="margin-left: 3px; margin-right: 3px;">en &nbsp;colaboración con la <a title="Red arco atlántico" href="http://www.atlanticarc.net" target="_blank">Red Arco Atlántico</a> coorganizan &nbsp;&nbsp;&nbsp;&nbsp;<img src="http://summeroflabs.eu/sites/default/files/users/user1/zawp.png" width="88" height="46">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;y &nbsp; &nbsp;<img src="http://summeroflabs.eu/sites/default/files/users/user1/kabia.png" width="78" height="72"><a style="margin-left:5em;" rel="license" href="/Propiedad-Intelectual/menu/global/seccion,12/subsubseccion,0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/es/88x31.png"></a></p>
</div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
  </section>
  <div id="pop-up">
            <div id="pop-up-title"></div>
            <div id="pop-up-content">
                <table> <tr>
                    <td><div id="pop-img"></div></td>
                    <td><div id="pop-desc"></div></td>
                </tr> </table>
            </div>
        </div>
</div>




