<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<title>Presupuestos de navarra</title>
	<script type="text/javascript" src="js/lib/jquery-1.5.2.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.history.js"></script>
	<script type="text/javascript" src="js/lib/raphael.js"></script>
	<script type="text/javascript" src="js/lib/vis4.js"></script>
	<script type="text/javascript" src="js/lib/Tween.js"></script>
	<script type="text/javascript" src="js/bubbletree.js"></script>
	<script type="text/javascript" src="js/aggregator.js"></script>	
	<link rel="stylesheet" type="text/css" href="styles/css/bubbletree.css" />
	<script type="text/javascript" src="js/cofog.js"></script>
	
	
	<script type="text/javascript">
       
		$(function() {
			
			var dataLoaded = function(data) {
				console.log('dataLoaded', JSON.stringify(data));
				window.bubbleTree = new BubbleTree({
					data: data,
					container: '.bubbletree',
				    bubbleType: ['donut','icon','icon','icon','plain'],
					bubbleStyles: {
						'cofog-1': BubbleTree.Styles.Cofog,
						'cofog-2': BubbleTree.Styles.Cofog,
						'cofog-3': BubbleTree.Styles.Cofog
					}
				});
			};
			
			// call openspending api for data
			new OpenSpending.Aggregator({
				apiUrl: 'http://openspending.org/api',
				dataset: 'ukgov-finances-cra',
				rootNodeLabel: 'Total 2011',
				drilldowns: ['cofog1', 'cofog2', 'cofog3', 'detail'],
				cuts: ['year:2010'],
				localApiCache: 'pna_2011.json',
				callback: dataLoaded
			});
		});
                                        
	</script>
</head>
<body>
	<div id="header">
		<a class="title">2011</a>
		<div class="subtitle">Navarra Presupuestos generales</div>
	</div>
	<div class="bubbletree-wrapper">
		<div class="bubbletree"></div>
	</div>
</body>
</html>
