  <header class="grid_12">
    <hgroup>
      <h1>Asistentes Summeroflabas</h1>
      <h2>w/ <a href="http://fluidinfo.com">fluidinfo.js</a></h2>
    </hgroup>
  </header>
  <div class="grid_12" id="notepad">
  </div>
  <section id="details" class="grid_12">
    <aside id="authors" class="grid_6">
      creado por <a href="http://interzonas.info">::InterZonas::</a>
    </aside>
    <article id="description" class="grid_12">
    <p>
      TODO
    </p>
    </article>
  </section>
  <footer class="grid_12"><a href="http://haptic-data.com/toxiclibsjs/">toxiclibs.js</a></footer>
