<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/javascripts/lib/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/fluidinfo.js"></script>
    <script type="text/javascript" src="/javascripts/lib/raphael.js"></script>
    <script type="text/javascript" src="/javascripts/lib/toxiclibs.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </head>
  <body class="container_12">
    <%- body %>
  </body>
</html>
