body{
	font-family: Arial, Serif;
	font-size: 16px;
	margin: 0; }
	
canvas:focus{ outline: 0; }

body.summer {
margin-top: -21px;	
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

/** html .clearfix {
	height: 1%;
}
*/
.clearfix {
	display: block;
}


text {
  font-size: 11px;
  pointer-events: none;
}

text.parent {
  fill: #333333;
}

circle {
  fill: #c8a6b3;
  /* stroke: #999; */
	  pointer-events: all;
}

circle.parent {
  fill: #643e4d;
  fill-opacity: .1;
  /* stroke: steelblue; */
}

circle.parent:hover {
  stroke: #a1b587;
  stroke-width: .5px;
}

circle.child {
  pointer-events: none;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}

p {
	font-family: 'Lekton', Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 23px;
}

div#pop-up {
display: none;
position:absolute;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
-moz-box-shadow: 0px 0px 18px #000000;
-webkit-box-shadow: 0px 0px 18px #000000;
box-shadow: 0px 0px 18px #000000;
background: rgba(0,0,0,0.5);
color: white;
font-size: 8px;
padding: 15px 10px 5px 10px;
}






div#pop-up-title {
/*color: #61C7FF;*/
color: #C2E693;
font-size: 16px;
font-weight: bold;
padding-left: 14px;
text-transform: uppercase;
width: 100%;

}

div#pop-up-content {
font-size: 12px;
line-height: 21px;
padding: 13px;
}

div#pop-desc {
	width: 100px;
}

div#pop-img {
	font-size: 30px;
	font-weight: bolder;
}

h1.title {
color: #fff;
font-family: 'Arial', Georgia, Times, serif;
font-size: 30px;
padding: 26px 0px 0px 25px;
}

h3 {
color:#61C7FF;
font-family: 'Molengo', Georgia, Times, serif;
font-size: 20px;
}

hgroup.header {
background-image: linear-gradient(bottom, rgb(65,61,69) 0%, rgb(0,0,0) 65%);
background-image: -o-linear-gradient(bottom, rgb(65,61,69) 0%, rgb(0,0,0) 65%);
background-image: -moz-linear-gradient(bottom, rgb(65,61,69) 0%, rgb(0,0,0) 65%);
background-image: -webkit-linear-gradient(bottom, rgb(65,61,69) 0%, rgb(0,0,0) 65%);
background-image: -ms-linear-gradient(bottom, rgb(65,61,69) 0%, rgb(0,0,0) 65%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(65,61,69)),
	color-stop(0.65, rgb(0,0,0))
);
width: 100%;
height: 100px;
}
.sidebar {
    float: left;
    font-size: 10px;
    height: auto;
    padding-left: 15px;
    padding-top: 35px;
    width: 25%;
}


svg {
float: left;
}

section#info {
clear:both;
min-height: 100px;
font-size: 9px;
border-top: 1px dashed #B2B2B2;
}

#cargando {
padding-left: 368px;
position: relative;
top: 380px;	
}

.footer {
margin: 0 auto;
width: 960px;
}

.footer p {
font-size: 11px;
font-family: 'Arial';
}

aside#autor {
padding: 10px;
font-size: 12px;
color: #ccc;
font-weight: 500;
}

a, a:link, a:visited {
color: #50A7D5;
font-weight: 600;
}

a:hover{
color: #61C7FF;
}
